


h1,
h2,
p {
    margin-bottom: 0 !important;
}

.font-size-14 {
    font-size: $font-size-14;
}

.font-size-16 {
    font-size: $font-size-16;
}

.font-size-18 {
    font-size: $font-size-18;
}

.font-size-20 {
    font-size: $font-size-20;
}

.font-size-26 {
    font-size: $font-size-26;
}

.font-size-32 {
    font-size: $font-size-32;
}


.job-seeker-heading {
    font-family: $product-sans-font-bold;
    line-height: normal;
    font-size: 26px;
    margin-left: 10px;
    color: $primary-black;
}

.job-seeker-title-heading {
    font-family: $dm-sans-font-bold;
    font-size: $font-size-26;
    color: $secondary-black;
}

.job-seeker-title-desc {
    font-family: $dm-sans-font-regular;
    font-size: 16px;
    color: $light-black;
    margin-top: 0.9rem;
}

.input-box::placeholder {
    font-family: $dm-sans-font-regular;
    font-size: $font-size-14;
}

.form-container .form-field+.form-field {
    margin-top: 2.7rem;
}

.form-label-text {
    font-family: $dm-sans-font-regular;
    font-size: $font-size-14;
    color: $secondary-black;
    margin-bottom: 1.2rem;
}

.password-field {
    margin-bottom: 4rem;
}

// .login-btn-container {
//     margin-top: 4rem;
// }

.link-text-decoration {
    text-decoration: none !important;
}

.landing-details-heading {
    font-family: $dm-sans-font-bold;
    font-size: $font-size-32;
    color: $primary-white;
}

.landing-details-desc {
    font-family: $dm-sans-font-medium;
    font-size: $font-size-20;
    color: $primary-white;
}