.submit-btn {
    font-family: $dm-sans-font-medium;
    background-color: #3756F3 !important;
    font-size: $font-size-16 !important;
    padding: 10px 30px !important;
    color: $secondary-white !important;
    border-radius: 10px !important;
    /* margin-top:40px; */
}