.submit-btn {
    background-color: #3756F3 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-style: normal;
    padding: 10px 30px !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    /* margin-top:40px; */
}