.job-seeker-logo{
    width: 40px;
    height: 40px;
};

// .input-box{
//     border-radius: 10px !important;
//     border: 0 !important;
//     background-color: $secondary-color !important;
//     padding: 15px 0px 15px 18px !important;
//     font-size: $font-size-14;

//     @media (max-height:899px){
//         padding: 12px 0px 12px 15px !important;
//         // font-size: 10px;
//     }

//     &:focus {
//         outline: none !important;
//         box-shadow: none !important;
//     }
// };

.eye-icon{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 0 !important;
    background-color: $secondary-color !important;
    padding-right: 14px;
    cursor: pointer;
};

.password-box{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

};

.job-seeker-title-desc+.form-container {
    margin-top: 4rem !important;
    @media (max-height:899px){
        margin-top: 3.5rem !important;

    }
    // width: 416px;
}

