.login-container {
    @include main-container;
}

.login-form-container {
    @include form-wrapper;

    &__logo-container {
        margin-bottom: 4.8rem;

    }

    &__input-box{
        border-radius: 10px !important;
        border: 0 !important;
        background-color: $secondary-color !important;
        padding: 15px 0px 15px 18px !important;
        font-size: $font-size-14;
    
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        &::placeholder {
            font-family: $dm-sans-font-regular;
            font-size: $font-size-14;
        }
    };

    &__forgot-password-link {
        font-family: $dm-sans-font-medium;
        font-size: $font-size-14;
        color: $primary-color;
    }

    &__login-btn-container {
        margin-top: 4rem;
    }

    &__login-form-footer-text {
        font-family: $dm-sans-font-regular;
        font-size: $font-size-18;
        color: $primary-black;
    }

    &__create-account-text-link {
        font-family: $dm-sans-font-medium;
        font-size: $font-size-18;
        color: $primary-color;
    } 
    
}


.landing-img-container {
    @include landing-image-wrapper;
}