.register-container {
    @include main-container;
}

.register-form-container {
    @include form-wrapper;

    &__logo-container {
        margin-bottom: 48px;

    }

}

// .job-seeker-title-desc+.form-container {
//     margin-top: 40px !important;
//     width: 416px;
// }

.landing-img-container {
    @include landing-image-wrapper;
}


.country-img {
    width: 30px;
    height: 30px;
}

.number-box {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    /* border-left:1px solid #e1e8f0 !important; */
}

.country-code {
    background-color: $secondary-color !important;
    border: 0 !important;
    font-size: 14px;
}

/* .mobile-number-line {
    width: 1px;
    height: 24px !important;
    background-color: #e1e8f0 !important;
    transform: rotate(-270deg);
} */

.mobile-number-line-container {
    background-color: $secondary-color;
}

.mobile-number-line {
    width: 24px;
    height: 1px;
    transform: rotate(-270deg);
    color: #e1e8f0;
}

.register-btn-container {
    margin-top: 20px !important;
    margin-bottom: 61px;
}


