.set-new-password-container {
    @include main-container;
}

.set-new-password-form-container {
    @include form-wrapper;

    &__logo-container {
        margin-bottom: 4.8rem;

    }

    &__reset-btn-container {
        margin: 4rem 0px;
    }

    &__back-to-login-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__back-to-login-text {
        font-family: $dm-sans-font-medium;
        font-size: $font-size-16;
        color: $secondary-black;
    }

    &__back-to-login-arrow-link{
        color: $secondary-black;
        margin-right: 10px;
        margin-top: 4px
    }

}



.landing-img-container {
    @include landing-image-wrapper;
}