// Font-Family
// DMSans
$primary-font-family: "DM Sans";
// $primary-font-medium: "DM Sans Medium";

$secondary-font-family:"Product Sans";

$font-size-14:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
$font-size-26:26px;
$font-size-32:32px;


$primary-color:#3756F3;
$secondary-color:#F5F7FB;
$primary-white:#FFFFFF;
