@mixin main-container{
    min-height: 100vh;
}


@mixin eye-icon-wrapper{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 0 !important;
    background-color: $secondary-color !important;
};

@mixin password-box-wrapper{
    border-top-right-radius: 0px !important;
};

@mixin input-box-wrapper{
    border-radius: 10px !important;
    border: 0 !important;
    background-color: $secondary-color !important;
    padding: 10px 20px !important;
    /* width:400px !important; */

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
};

@mixin job-seeker-module-logo{
    width: 40px;
    height: 40px;
};

@mixin form-wrapper{
    padding: 30px 0px 20px 0px;
    width: 100%;
    height: 100%;
};

@mixin landing-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/job-seeker-landing.jpg') no-repeat right;
    background-size: cover;
    border-radius: 35px 0px 0px 35px;


    &::before {
        position: absolute;
        content: "";
        background: linear-gradient(0deg, rgba(0, 87, 255, 0.70) 0%, rgba(0, 87, 255, 0.70) 100%);
        border-radius: 35px 0px 0px 35px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__landing-img {
        width: 100%;
        height: 100%;
        border-radius: 35px 0px 0px 35px;
    }

    &__landing-details-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        /* height: 100%; */
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0px 30px;
        color: $primary-white;
    }
};